body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-color {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
  display: flex;
}

.header-adress-list {
  display: flex;
  margin-right: 40px;
  padding: 0;
  gap: 40px;
}

.header-adress-link {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress-link:hover {
  color: #404bbf;
}

.header-adress-link:focus {
  color: #404bbf;
}
/* section 1 */
.effective {
  background-color: #2e2f42;
  padding: 188px 0 188px;
}

.effective-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 48px;
}

.effective-btn {
  background-color: #4d5ae5;
}
.effective-btn {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
}
.effective-btn:hover {
  background-color: #404bbf;
}
.effective-btn:focus {
  background-color: #404bbf;
}
/* section 2 */
.strategy {
  padding: 120px 0 120px;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  overflow: hidden;
  clip: rect(0px 0px 0px 0px);
  clip-path: inset(100%);
  white-space: nowrap;
}

.container-strategy {
}
.strategy-list {
  display: flex;
  gap: 24px;
}
.strategy-item {
  width: calc((100% - 72px) / 4);
}

.strategy-subtitel {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.strategy-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section 3 */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-team {
}
.team-subtitle {
  color: #2e2f42;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  width: 1158px;
  margin: 0 auto;
}
.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.div-person {
  padding: 32px 0;
}
/* section 4 */
.portfolio {
  padding: 120px 0 120px 0;
}
.cantainer-portfolio {
}
.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-img {
  max-width: 100%;
  width: 1158px;
}
.div-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-color {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
